<strong><h1><%= @mountain.name %></h1>
<strong>Mountain Rank: <%= @mountain.rank %><br /><br />
Mountain Difficulty: <%= @mountain.difficulty %><br /><br />


<%#bootstrap rails 5 to improve appearance %>
